@import 'responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

// Discount :start
#discount {
    width: 100%;
    height: 5vh;
    background-color: #abd373;
}

.discountbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.discountboxleft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    color: white;
}

.discountboxright {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.discountbuttons {
    background-color: #abd373;
    border: none;
    color: white;
    height: 100%;
    font-size: 18px;
}

.discountbuttons:hover {
    cursor: pointer;

}


.discountopen {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: black;
    position: absolute;
    top: 160%;
    z-index: 2;
    flex-direction: column;

    li {
        background-color: white;
    }

    li:hover {
        cursor: pointer;
        background-color: #ABD373;
        color: white;
        transition: 0.2s;
    }
}

.discountopen.active {
    display: block;
}

// Discount :end
// Navbar :start
.navbar {
    background-color: white;
    width: 100%;
    height: 20vh;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#navopener {
    cursor: pointer;
}

.navtop {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.navleft {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}

.navleft i {
    font-size: 25px;
    height: 5vh;
    width: 5vh;
    border-radius: 10px;
    background-color: #abd373;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navleft a {
    color: #525252;
    padding: 5px 10px;
    font-size: 25px;
}

.navmid {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.navmid img {
    max-height: 100%;
}

.navright {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fa-magnifying-glass:hover {
        color: #abd373;
        cursor: pointer;
        transition: 0.3s;
    }

    .fa-heart:hover {
        cursor: pointer;
        color: #abd373;
    }

    .fa-bag-shopping:hover {
        cursor: pointer;
        color: #abd373;
    }

    .fa-users {
        cursor: pointer;
    }

    .fa-bars {
        display: none;
    }
}


.navright i {
    color: #525252;
    font-size: 25px;
}



.navbottom {
    width: 100%;

    .homea {
        font-size: 25px;
        color: #525252;
    }

    .homea2 {
        font-size: 25px;
        color: #525252;
    }

    .main-menu-links {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .home-link {
        position: relative;

        a {
            color: #525252;

        }
    }

    .shop-link {
        li {
            a {
                color: #525252;

            }
        }
    }

    .home-link:hover .homeSubMenu {
        display: flex;
    }

    .home-link:hover .homea {
        border-bottom: 2px solid #abd373;
    }

    .shop-link:hover .mega-subMenu {
        display: flex;
    }

    .shop-link:hover .homea {
        border-bottom: 2px solid #abd373;

    }

    .homeSubMenu {
        width: 8vw;
        display: none;
        justify-content: space-around;
        position: absolute;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background-color: white;


        a {
            color: #525252;
            font-size: 20px;

        }

        a:hover {
            color: #abd373;
        }

    }

    .shop-link {
        position: relative;
    }

    .mega-subMenu {
        color: #525252;
        z-index: 1;
        width: 30vw;
        position: absolute;
        display: flex;
        justify-content: space-around;
        display: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background-color: white;

        .lines {
            width: 1px;
            height: 100%;
            border: 1px solid black;
        }

        li {
            a {
                color: #525252;
                font-size: 20px;
            }
        }

        a:hover {
            color: #abd373;
        }

        .submenuUl {
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: space-between;
        }

        .submenuh1 {
            font-size: 25px;
        }
    }

}

// Navbar :end
// Discover :start
.discover {
    width: 100%;
    height: 80vh;
    background-image: url(https://htmldemo.net/pronia/pronia/assets/images/slider/bg/1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    .discoverbox {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .discoverleft {
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 20px;

            span {
                font-size: 50px;
            }

            h2 {
                font-size: 60px;
            }

            p {
                font-size: 30px;
            }

            button {
                width: 300px;
                height: 100px;
                background-color: #abd373;
                border: none;
                border-radius: 100px;
                color: white;
                font-size: 30px;
            }

            button:hover {
                cursor: pointer;
                background-color: #525252;
                transition: 0.5s;
            }
        }

        .discoverright {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .discoverimg {
                height: 90%;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;


            }
        }
    }
}

#movingimage {
    transition: transform 0.3s;

}


// Discover :end
// Shipping :start
.shipping {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .shippingbox {
        height: 15vh;
        width: 90%;
        display: flex;
        justify-content: space-between;
       
        .shippingboxes {
            width: 25%;
            border: 1px dashed #abd373;
            display: flex;
            justify-content: center;
            align-items: center;

            .shippinginside {
                width: 75%;
                display: flex;
                justify-content: space-between;

                .shippingleft {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .shippingright {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }
}

// Shipping :end
// Product :start
.product {
    height: 120vh;
    width: 100%;

    .ourproducts {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 20vh;

        .producthead {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .productheadbox {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                div {
                    height: 0px;
                    width: 100%;
                    border: 1px solid #abd373;
                }

                h2 {
                    color: white;
                    background-color: #abd373;
                }
            }

        }

        .productbutton {
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            #pbutton1 {
                border: 1px dashed #abd373;
                color: #abd373;
            }

            .pbuttons {
                width: 150px;
                height: 60px;
                border: 1px solid #525252;
                border-radius: 10px;
                background-color: white;
                transition: 0.3s;
                font-size: 20px;

            }

            .pbuttons:hover {
                cursor: pointer;
                border: 1px dashed #abd373;
                color: #abd373;
                transition: 0.3s;


            }
        }

    }

    #flowers {
        max-width: 100%;
        padding-top: 100px;
        display: grid;

        justify-items: center;
        gap: 20px;
        grid-template-columns: auto auto auto auto;
    }

    .product-info {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .product-card {
        cursor: pointer;
        position: relative;
        max-width: 215px;
        overflow: hidden;
    }

    .product-basket {
        position: absolute;
        bottom: 120px;
        left: -20px;
        display: none;
    }

    .product-card:hover .product-basket {
        display: block;
        transform: translateX(40px);
        transition-duration: 1s;
    }

    .product-basket i:hover {
        background-color: #ABD373 !important;
        color: #fff !important;
        transition: 0.3s;
        box-shadow: none !important;
    }

    .product-info a {
        color: #000;
        font-size: 18px;
    }

    .product-info span {
        color: #ABD373;
        font-size: 20px;
    }

    .star {
        display: flex;
        gap: 5px;
    }
}

// Product :end
// Banner :start
.banner {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .bannerbox {
        margin-top: 20px;
        width: 70%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .bannertop {
            height: 25vh;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .bannerbottom {
            height: 25vh;

            display: flex;
            justify-content: space-between;
            width: 100%;
        }


        .box1 {
            background-image: url(https://htmldemo.net/pronia/pronia/assets/images/banner/1-1-770x300.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .box1container {
                width: 90%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    font-size: 20px;
                }

                h3 {
                    font-size: 30px;
                }

                button {
                    border: none;
                    color: white;
                    width: 150px;
                    height: 50px;
                    border-radius: 30px;
                    background-color: #ABD373;
                }

                button:hover {
                    background-color: #525252;
                    cursor: pointer;
                }
            }
        }

        .box2 {
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            background-image: url(https://htmldemo.net/pronia/pronia/assets/images/banner/1-2-370x300.jpg);
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            .box1container {
                width: 90%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                span {
                    font-size: 20px;

                }

                h3 {
                    color: white;
                    background-color: #ABD373;
                    font-size: 30px;
                }

                button {
                    border: none;
                    color: white;

                    width: 150px;
                    height: 50px;
                    border-radius: 30px;
                    background-color: #ABD373;
                }

                button:hover {
                    background-color: #525252;
                    cursor: pointer;
                }
            }
        }

        .box3 {
            background-size: cover;
            background-repeat: no-repeat;
            width: 30%;
            height: 100%;
            background-image: url(https://htmldemo.net/pronia/pronia/assets/images/banner/1-3-370x300.jpg);
            display: flex;
            justify-content: center;
            align-items: center;

            .box1container {
                width: 90%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                span {
                    font-size: 20px;
                }

                h3 {
                    font-size: 30px;
                }

                button {
                    border: none;
                    color: white;

                    width: 150px;
                    height: 50px;
                    border-radius: 30px;
                    background-color: #ABD373;
                }

                button:hover {
                    background-color: #525252;
                    cursor: pointer;
                }
            }

        }

        .box4 {
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            background-image: url(https://htmldemo.net/pronia/pronia/assets/images/banner/1-4-770x300.jpg);
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            .box1container {
                width: 90%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    font-size: 20px;
                }

                h3 {
                    font-size: 30px;
                }

                button {
                    border: none;
                    color: white;

                    width: 150px;
                    height: 50px;
                    border-radius: 30px;
                    background-color: #ABD373;
                }

                button:hover {
                    background-color: #525252;
                    cursor: pointer;
                }
            }
        }

    }


}

// Banner :end
// newProducts :start

#ourproducts {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 15vh;
    font-size: 18px;

    .productbottom {
        text-align: center;
        background-color: #ABD373;
        color: white;
    }

    .producthead {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .productheadbox {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            div {
                height: 0px;
                width: 100%;
                border: 1px solid #abd373;
            }

            h2 {
                color: white;
                background-color: #abd373;

            }
        }
    }

}

#newProducts {
    max-width: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    gap: 20px;


}

.product-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-card {
    cursor: pointer;
    position: relative;
}

.product-basket {
    position: absolute;
    bottom: 120px;
    left: -20px;
    display: none;
}

.product-card:hover .product-basket {
    display: block;
    transform: translateX(40px);
    transition-duration: 1s;
}

.product-basket i:hover {
    background-color: #ABD373 !important;
    color: #fff !important;
    transition: 0.3s;
    box-shadow: none !important;
}

.product-info a {
    color: #000;
    font-size: 18px;
}

.product-info span {
    color: #ABD373;
    font-size: 20px;
}

.star {
    display: flex;
    gap: 5px;
}

// newProducts :end
// Clients :start
.clients {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;

    .clienttop {
        width: 40%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .clienthead {
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            .lines {
                height: 0px;
                width: 100%;
                border: 1px solid #abd373;
            }

        }

        .clienttext {
            text-align: center;

            p {
                font-size: 20px;
            }
        }
    }

    .clientbottom {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .clientboxes:hover {
            cursor: pointer;
        }

        .clientboxes:hover .testimonial {
            background-color: #525252;
        }

        .clientboxes {
            position: relative;
            border: 1px solid black;
            max-width: 30%;
            height: 65%;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            color: #525252;
            border-radius: 30px;

            .testimonial {
                border-top-right-radius: 30px;
                border-bottom-left-radius: 100%;
                background-color: #abd373;
                position: absolute;
                top: 0;
                right: 0;
                width: 125px;
                height: 110px;
                // line-height: 110px;
                // text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                .testimonialdiv {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    margin-bottom: auto;
                    width: 80%;
                    height: 80%;
                }

                img {
                    width: 40%;
                    height: 30%;
                }
            }

            img {
                width: 80px;
                height: 80px;
            }

            h4 {
                font-size: 25px;
            }

            span {
                font-size: 20px;
            }

            p {
                font-size: 20px;
            }
        }
    }

}

// Clients :end
// Brand .start
.brand {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .brandbox {
        width: 70%;
        height: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(https://htmldemo.net/pronia/pronia/assets/images/brand/bg/1-1170x300.jpg);
        display: flex;
        justify-content: center;
        align-items: center;

        .brandboxes {
            width: 80%;
            height: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }
}

// Brand .end
// Latest :start
.latest {
    width: 100%;
    height: 80vh;

    .latesttop {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 25vh;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        .latesthead {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;

            .lines {
                height: 0px;
                width: 100%;
                border: 1px solid #abd373;
            }
        }

        .latesttext {
            text-align: center;
        }
    }

    .latestbottom {
        width: 100%;
        height: 55vh;

        .latestbox {
            width: 80%;
            height: 100%;
            margin-right: auto;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;

            .latestboxes {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 30px;
                padding-right: 30px;
                position: relative;
                background-color: #f6f7fb;
                border-radius: 20px;

                img {
                    padding-bottom: 10px;
                }

                ul {
                    color: #abd373;
                    width: 60%;
                    display: flex;
                    justify-content: space-between;

                    a {
                        color: #abd373;
                        font-size: 20px;
                    }

                    li {
                        font-size: 20px;
                    }
                }

                h2 {
                    font-size: 25px;
                }

                p {
                    font-size: 18px;
                }

                .links {
                    position: absolute;
                    left: 40px;
                    bottom: 40px;
                    border-radius: 100%;
                    border: 1px solid #ABD373;
                    width: 40px;
                    height: 40px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: #ABD373;

                    }
                }


            }
        }
    }
}

// Latest :end
// Footer :start
#footer {
    width: 100%;
    height: 50vh;
    background-image: url(https://htmldemo.net/pronia/pronia/assets/images/footer/bg/1-1920x465.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footerbottom {
        padding-top: 20px;
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .line {
            width: 80%;
            border: 1px solid #abd373;
            height: 0px;
        }

        p {
            background-color: #ABD373;
            color: white;

            a {
                color: white;
            }
        }

        i {
            color: red
        }
    }

    .footertop {
        display: flex;
        justify-content: space-between;
        height: 80%;
        width: 80%;

        .footerright {
            width: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .rightbox {
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                img {
                    width: 200px;
                }

                img:hover {
                    cursor: pointer;
                }

                h3 {
                    font-size: 25px;
                }

                a {
                    font-size: 30px;
                    color: #000;
                }

                p {
                    font-size: 20px;
                }

            }

        }

        .footermid {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .midboxes {
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3 {
                    font-size: 25px;
                }

                ul {
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    a {
                        font-size: 20px;
                        color: #525252;
                        transition: 0.2s;

                    }

                    a:hover {
                        cursor: pointer;
                        color: #ABD373;
                    }
                }
            }
        }

        .footerleft {
            height: 100%;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .lefttop {
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                font-size: 20px;
            }

            img {
                width: 110px;
                height: 60px;
            }

            .social {
                margin-left: auto;
                margin-right: auto;
                width: 80%;

                .socialboxes {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        border: 1px solid black;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    div:hover {
                        border: none;
                        color: white;
                        background-color: #ABD373;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// Footer :end
// Sidebar :start
#sidenavbar {
    width: 25%;
    height: 100%;
    background-color: #333333;
    position: fixed;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #englishopen{
        display: none;
        flex-direction: column;
    }
    #groupopen{
        display: none;
        flex-direction: column;
    }
    #usdopen{
        display: none;
        flex-direction: column;
    }



    #exitdiv {
        position: relative;
        width: 100%;
        height: 10%;
    }

    #exit {
        position: absolute;
        color: white;
        top: 0;
        right: 30px;
    }

    #exit:hover {
        cursor: pointer;
    }

    .sidenavbarbox {
        width: 100%;
        height: 70%;
        background-color: #333333;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 50px;

        .phone {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            div {
                background-color: #ABD373;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                border-radius: 10px;
            }

            a {
                font-size: 25px;
                background-color: #ABD373;
                color: white;
            }
        }

        .language {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            
            ul {
                width: 80%;

                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    color: white;
                    cursor: pointer;

                    a{
                        color: white;
                    }

                }
            }
        }

        .accordions {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 20px;


            .accli {
                background-color: #333333;
                padding: 31px 0;

                ul {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 60px;
                    background-color: #3d3d3d;
                    color: white;
                    width: 100%;
                    display: none;
                    justify-content: space-evenly;
                    flex-direction: column;
                    gap: 20px;
                }

                a {
                    color: white;
                    padding-left: 60px;
                }

                i {
                    float: right;
                    padding-right: 60px;
                }
            }

            .accli:hover {
                cursor: pointer;
            }
        }
    }
}

// Sidebar :end
// Search :start
#search {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;

    #x {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .fa-x {
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .searchbox {
        width: 60%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 10px;

        span {
            color: white;
            font-size: 30px;
            text-align: center;
            background-color: #ABD373;
        }

        input {
            height: 150px;
            width: 100%;
            font-size: 70px;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            border-bottom: 2px solid white;
            outline: none;

        }

        .fa-magnifying-glass {
            position: absolute;
            right: 20px;
            bottom: 65px;
            color: white;
            font-size: 70px;
        }
    }
}

// Search :end
// Shoppingcart :start
.shoppingcart {
    position: fixed;
    z-index: 2;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: white;

    .shoppingcartbox {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .shoppingcarthead {
            padding-left: 20px;
            position: relative;
            color: #525252;
            display: flex;

            h4 {
                font-size: 36px;
            }

            .fa-x {
                position: absolute;
                right: 0;
                font-size: 36px;
            }
        }

        .shopbox {
            
            display: grid;
            grid-template-columns: auto auto;

            .shopboxes {
                margin-left: auto;
                margin-right: auto;
                display: flex;
                width: 70%;
                justify-content: space-between;

                .shopright {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    a {
                        color: #525252;
                        font-size: 20px;
                    }
                }

            }
        }

        .subtotal {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            display: flex;
            justify-content: space-between;
            color: #525252;
            font-size: 25px;
        }
        .buttons{
            display: flex;
            flex-direction: column;
            height: 100px;
            justify-content: space-between;
            align-items: center;
        }

        button {
            border: none;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
            height: 40px;
            background-color: #000;
            color: white;
            transition: 0.2s;
        }

        button:hover {
            cursor: pointer;
            background-color: #ABD373;
            transition: 0.2s;
        }

        .Checkout {
            order: 1;
        }
    }

    #shopx {
        cursor: pointer;
    }
}

// Shoppingcart :end
.product-card.newcard {
    
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px); 
    margin: 5px;
    img {
        max-width: 150px;
        overflow: hidden;
    }
}


.active {
    display: flex !important;
}